global = {lang: "en", title: "Title", description: "Description." }

doctype
html(lang=global.lang, class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= global.title
		meta(name="description", content=global.description)
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet", href="css/style.css")
		script(src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
	
	body
		h1 Ahoj

		script(src="http://code.jquery.com/jquery-latest.min.js")
		script window.jQuery || document.write('<script src="js/vendor/jquery-2.1.0.min.js"><\/script>')
		script(src="js/main-ck.js")