@font-face {
	font-family: 'liebe_ruthregular';
	src: url('./font/liebe_ruth_regular-webfont.eot');
	src: url('./font/liebe_ruth_regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./font/liebe_ruth_regular-webfont.woff') format('woff'),
		 url('./font/liebe_ruth_regular-webfont.ttf') format('truetype'),
		 url('./font/liebe_ruth_regular-webfont.svg#liebe_ruthregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'liebe_ruthmedium';
	src: url('./font/liebe_ruth_medium-webfont.eot');
	src: url('./font/liebe_ruth_medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./font/liebe_ruth_medium-webfont.woff') format('woff'),
		 url('./font/liebe_ruth_medium-webfont.ttf') format('truetype'),
		 url('./font/liebe_ruth_medium-webfont.svg#liebe_ruthmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'liebe_ruthlight';
	src: url('./font/liebe_ruth_light-webfont.eot');
	src: url('./font/liebe_ruth_light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('./font/liebe_ruth_light-webfont.woff') format('woff'),
		 url('./font/liebe_ruth_light-webfont.ttf') format('truetype'),
		 url('./font/liebe_ruth_light-webfont.svg#liebe_ruthlight') format('svg');
	font-weight: normal;
	font-style: normal;
}